section {
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .hobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  .hobby {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .hobby:hover {
    transform: scale(1.05);
  }

  .hobby h3 {
    margin: 0;
    padding: 10px;
    background-color: #46b8a3;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 100%;
  }

  .description {
    background-color: #46b8a3;
    color: white;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    width: 100%;
    text-align: justify;
  }

  .hobby:hover .description {
    opacity: 1;
    transform: translateY(0);
  }