body {
    background: radial-gradient(circle at center, #46b8a3, rgb(14, 119, 107));
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
    font-size: 24px;
}

.subject a {
    color: inherit; /* or specify your desired color */
    text-decoration: none; /* optional: remove underline */
}

td {
    text-align: left;
    font-weight: bold;
    width: 20%;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
    
}


td.subject:hover, td.subject:focus {
    background-color: #63d2b8; /* Change background color on hover or focus */
}
td.subject:hover , td.subject:focus {
    visibility: visible;
    opacity: 1;
}

td button {
    text-align: right;
    border: 1px solid black; /* Add border style */
    background-color: black;
    color: #46b8a3;
    margin-left: 20px;
    position: absolute;
    right: 5%;
    font-size: 24px;
}


  