body {
    /*background: radial-gradient(circle at center, #46b8a3, rgb(14, 119, 107));*/
    /*background: linear-gradient(-45deg, #5b46b8, rgb(128, 231, 60), #23a6d5, #46b8a3);*/
    background: radial-gradient(circle at center,#46b8a3, #6446b8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
    font-size: 24px;
}

.subject a {
    color: inherit; /* or specify your desired color */
    text-decoration: none; /* optional: remove underline */
}

td {
    text-align: left;
    font-weight: bold;
    width: 20%;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
    
}


td.subject:hover, td.subject:focus {
    background-color: #63d2b8; /* Change background color on hover or focus */
}
td.subject:hover , td.subject:focus {
    visibility: visible;
    opacity: 1;
}

td button {
    text-align: right;
    border: 1px solid black; /* Add border style */
    background-color: black;
    color: #46b8a3;
    margin-left: 20px;
    position: absolute;
    right: 5%;
    font-size: 24px;
}


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 75% 75%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    75%{
        background-position: 25% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
  }